<!DOCTYPE html>
<html>
  
  <head>
    
  </head>  
  
  <body>
    
    <center>  
    
    <div id="loginit">

      <h2>Password:</h2>

      <form id= "loginForm">
      <label>Password :</label>
      <input type="password" id="password" size ="40" />      
      </form><br>
      <button id= "submitLogin">Submit</button> <br>
      <br>
      <p id= "infoBoxi">
      </p>

    </center>  
    
    </div>

    <footer>

    </footer>

    <script src="/pwHandler.js"></script>

  </body>
</html>